{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-typescript-to-proptypes",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "enums": "./src/enums",
          "components": "./src/components",
          "hooks": "./src/hooks",
          "types": "./src/types",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
