node_modules
dist
.env.local
.DS_Store
.idea

.docker-project
.yarn.*
.dotrun.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

storybook-static/
*.fuse*
*.nfs*

cypress/screenshots/
cypress/videos
/package-lock.json
