@use "sass:map";
@import "vanilla-framework";
@include vf-b-placeholders; // Vanilla base placeholders to extend from

$dropdown-max-height: 20rem;

.multi-select {
  // Scope Vanilla form includes to multi select component only
  // to avoid overriding any Vanilla base styles
  // XXX: This is a workaround for https://github.com/canonical/vanilla-framework/issues/5030
  @include vf-b-forms;

  margin-bottom: $input-margin-bottom;
  position: relative;
  width: 100%;
}

.multi-select .p-form-validation__message {
  margin-top: 0;
}

.multi-select__condensed-text {
  margin-right: $sph--large + $sph--x-small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multi-select__input {
  cursor: pointer;
  margin-bottom: 0;
  position: relative;

  &.items-selected {
    border-top: 0;
    box-shadow: none;
    top: -#{$border-radius};
  }

  &[disabled],
  &[disabled="disabled"] {
    opacity: 1;
  }
}

.multi-select__dropdown--side-by-side {
  display: flex;
  flex-wrap: wrap;
}

.multi-select__group {
  flex: 1 0 auto;
}

.multi-select__dropdown-list {
  list-style: none;
  margin-bottom: $sph--x-small;
  margin-left: 0;
  margin-top: $sph--x-small;
  padding-left: 0;
}

.multi-select__footer {
  background: $colors--theme--background-default;
  border-top: 1px solid $colors--theme--border-default;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $sph--small $sph--large 0 $sph--large;
  position: sticky;
}

.multi-select__dropdown-header {
  font-size: #{map.get($font-sizes, small)}rem;
  letter-spacing: #{map.get($font-sizes, small)}px;
  margin-bottom: 0;
  padding: $spv--x-small $sph--large;
  position: relative;
  text-transform: uppercase;
}

.multi-select__dropdown-item {
  padding: 0 $sph--large;

  .p-checkbox {
    padding-top: $sph--x-small;
  }

  &,
  .p-checkbox {
    width: 100%;
  }
}

.multi-select__dropdown-button {
  border: 0;
  margin-bottom: 0;
  padding-left: $sph--small;
  padding-right: $sph--small;
  text-align: left;
  width: 100%;
}

.multi-select__selected-list {
  background-color: $colors--theme--background-inputs;
  border-bottom: 0;
  margin: 0;
  overflow: hidden;
  padding: $spv--x-small $sph--small;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multi-select__select-button {
  @extend %vf-input-elements;
  align-items: center;
  display: inline-flex;
  height: 2.5rem;
  justify-content: space-between;
  overflow: auto;

  position: relative;
  z-index: 0;

  .multi-select & {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    margin-left: $sph--large;
    position: absolute;
    right: $sph--small;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);

    @extend %icon;
    @include vf-icon-chevron-themed;
    @include vf-transition($property: transform, $duration: fast);
  }

  &[aria-expanded="true"] {
    background-color: $colors--theme--background-hover;
  }

  &[aria-expanded="false"] {
    &::after {
      transform: translateY(-50%) rotate(0);
    }
  }

  &[disabled],
  &[disabled="disabled"] {
    border-top: 0;
  }
}
