@import "vanilla-framework";

.step-number {
  border: 0.08rem solid $colors--theme--border-high-contrast;
  border-radius: 1rem;
  height: 1.4rem;
  line-height: 1.3;
  margin-left: $sph--small;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  text-align: center;
  width: 1.4rem;
}

.step-number-disabled {
  border: 0.08rem solid $colors--theme--text-muted;
  color: $colors--theme--text-muted;
}

.step-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: $sph--small;
}

.step-enabled:hover {
  cursor: pointer;
  text-decoration: underline;
}

.step-disabled {
  color: $colors--theme--text-muted;
  pointer-events: none;
}

.step-status-icon {
  height: 1.6rem;
  margin-left: 0.4rem;
  width: 1.6rem;
}

.step-selected {
  background-color: $colors--theme--background-active;
}

.step-optional-content {
  font-size: 12px;
  max-width: 10rem;
}

.stepper-horizontal {
  display: flex;

  .p-inline-list__item {
    margin: 0;
  }

  .step {
    border-top: 0.2rem solid $colors--theme--border-default;
    display: flex;
    height: 100%;
    padding: 0.4rem $spv--medium;
    width: fit-content;
  }

  .step-status-icon {
    margin-left: 0;
  }

  .step-number {
    margin-left: 0;
  }

  .step-content {
    max-width: 10rem;
  }

  .progress-line {
    border-top: 0.2rem solid $colors--theme--border-high-contrast;
  }

  :first-child .step {
    padding-left: 0;
  }
}

.stepper-vertical:not(.stepper-horizontal) {
  .p-list__item {
    padding-bottom: 0;
    padding-top: 0;
  }

  .step {
    border-left: 0.2rem solid $colors--theme--border-default;
    display: flex;
    padding: $spv--medium 0;
    padding-right: 0.5rem;
    width: inherit;
  }

  .progress-line {
    border-left: 0.2rem solid $colors--theme--border-high-contrast;
  }

  :first-child .step {
    padding-top: 0;
  }

  :last-child .step {
    padding-bottom: 0;
  }
}
