@import "~vanilla-framework/scss/base_placeholders";

.search-and-filter {
  border: 1px solid $color-mid-dark;
  position: relative;

  &__search-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    min-height: 40px;
    overflow: hidden;
    padding: 0 2rem 0 0.5rem;
    position: relative;

    // if search container is not active
    &[data-active="false"] {
      // hide the overflowing input field
      [data-overflowing="true"] {
        display: none;
      }
    }

    .p-chip {
      margin-bottom: 0.5rem;
    }

    .search-and-filter__selected-count {
      color: $color-information;
      cursor: pointer;
      position: absolute;
      right: 0.5rem;
      top: 6px;
    }

    &[aria-expanded="false"] {
      .p-chip {
        margin-bottom: 0.5rem;
      }
    }

    &[aria-expanded="true"] {
      max-height: 100%;

      .search-and-filter__selected-count {
        display: none;
      }
    }

    .p-search-box {
      flex-grow: 1;
    }
  }

  .p-icon--search {
    display: none;
  }

  [class*="p-contextual-menu"],
  .p-contextual-menu__dropdown {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .p-contextual-menu__dropdown {
    left: 0;
    padding: 1rem;
    top: 0;
  }

  &__panel {
    padding: 0;
    transition: opacity 0.25s;

    &[aria-hidden="true"] {
      opacity: 0;
      pointer-events: none;
    }
  }

  .search-prompt {
    background: $color-light;
    cursor: pointer;
    margin-left: -1rem;
    margin-right: -1rem;
    overflow: hidden;
    padding: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__clear {
    border: none;
    height: 2rem;
    margin: 0;
    max-width: 48px;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 999;
  }
}
