@import "~vanilla-framework/scss/base_placeholders";

.search-and-filter {
  border: 1px solid $color-mid-dark;
  position: relative;

  &__search-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    min-height: 40px;
    overflow: hidden;
    padding: 0 2rem 0.25rem 0.5rem;
    position: relative;

    &[data-empty="false"] {
      height: 40px;
    }

    &[data-active="true"] {
      height: auto;
    }

    // if search container is not active
    &[data-active="false"] {
      // hide the overflowing input field
      [data-overflowing="true"] {
        display: none;
      }
    }

    .p-chip {
      margin-bottom: 0.5rem;
    }

    .search-and-filter__selected-count {
      color: $color-information;
      cursor: pointer;
      position: absolute;
      right: 0.5rem;
      top: 6px;
    }

    &[aria-expanded="false"] {
      .p-chip {
        margin-bottom: 0.5rem;
      }
    }

    &[aria-expanded="true"] {
      height: auto;
      max-height: 100%;

      .search-and-filter__selected-count {
        display: none;
      }
    }

    .p-search-box {
      flex-grow: 1;
    }
  }

  .p-icon--search {
    display: none;
  }

  &__panel {
    padding: 0;

    &[aria-hidden="true"] {
      opacity: 0;
      pointer-events: none;
    }
  }

  .search-prompt {
    background: $color-light;
    cursor: pointer;
    margin-left: -1rem;
    margin-right: -1rem;
    overflow: hidden;
    padding: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__clear {
    border: none;
    height: 2rem;
    margin: 0;
    max-width: 48px;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 999;
  }

  .p-search-box {
    display: inline-flex;
    flex: 1;
    margin: -6px 0 0;
    position: relative;

    &__input {
      border: 0;
      box-shadow: none;
      margin-left: -0.5rem;
      margin-right: -2rem;
      min-height: 36px;
      min-width: 6rem;
      padding: 0.5rem;
      position: relative;
      top: 3px;
    }
  }

  .p-chip + .p-search-box {
    margin-left: 0.5rem;
  }

  .p-search-box__button,
  .p-search-box__reset {
    display: none;
  }

  &__contextual-menu {
    display: block;
    left: 0 !important;
    position: relative !important;
    top: 0 !important;

    .p-contextual-menu__dropdown {
      padding: 1rem;
    }

    // These class names are manually provided to the CSSTransition component
    // in SearchAndFilter.
    &--transition {
      &-enter,
      &-appear {
        opacity: 0;
      }

      &-enter-active,
      &-appear-active {
        opacity: 1;
        transition: opacity 0.25s;
      }

      &-exit {
        opacity: 1;
      }

      &-exit-active {
        opacity: 0;
        transition: opacity 0.25s;
      }
    }
  }
}
