@import "~vanilla-framework/scss/base_placeholders";

.search-and-filter {
  span[class*="p-contextual-menu"],
  .p-contextual-menu__dropdown {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .p-contextual-menu__dropdown {
    padding: 0.5rem;
  }

  .p-search-box {
    margin: 0;
  }

  .p-contextual-menu__dropdown {
    padding: 1rem;
    top: 0;
    left: 0;
  }

  &__panel {
    padding: 0;
    transition: opacity 0.25s;

    &[aria-hidden="true"] {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__section {
    border-bottom: 1px solid $color-mid-x-light;
    padding-bottom: 1rem;

    &:last-child {
      border: 0;
    }
  }

  &__section-header {
    color: $color-mid-dark;
    font-size: 1rem;
    margin-bottom: 0;
  }
}
