@import "~vanilla-framework/scss/base_placeholders";

.filter-panel-section {
  border-bottom: 1px solid $color-mid-x-light;
  margin: 0;
  padding-bottom: 1rem;

  &:last-child {
    border: 0;
  }

  .p-chip {
    cursor: pointer;

    &__lead {
      display: none;
    }
  }

  &__heading {
    color: $color-mid-dark;
    font-size: 1rem;
    margin-bottom: 0;
  }

  &__chips {
    overflow: hidden;
    padding-right: 1.25rem;
    position: relative;

    &[aria-expanded="false"] {
      max-height: 3.75rem;
    }
  }

  &__counter {
    bottom: 0;
    color: $color-information;
    cursor: pointer;
    position: absolute;
    right: 0.25rem;
  }
}
