@import "~vanilla-framework/scss/base_placeholders";

.filter-panel-section {
  border-bottom: 1px solid $color-mid-x-light;
  padding-bottom: 1rem;
  margin: 0;

  &:last-child {
    border: 0;
  }

  &__heading {
    color: $color-mid-dark;
    font-size: 1rem;
    margin-bottom: 0;
  }

  &__chips {
    overflow: hidden;
    padding-right: 1.25rem;
    position: relative;
    max-height: 3.25rem;
  }

  &__counter {
    color: $color-information;
    position: absolute;
    bottom: 0;
    right: 0.25rem;
  }
}
