@import "~vanilla-framework/scss/settings_spacing";

.p-icon__text {
  margin-left: $sph-inner--small;
}

.p-spinner {
  line-height: map-get($line-heights, default-text);
  padding: ($spv-nudge - 0.0625rem) ($sph-inner--small * 1.5);
  text-align: center;
  width: 100%;

  button & {
    padding: 0;
  }
}

.p-spinner--inline {
  display: inline;
  text-align: left;
  margin: 0 1rem;
}
