@import "~vanilla-framework/scss/settings";

.p-show-more__container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto 0.5rem;
}

.p-show-more__container::before,
.p-show-more__container::after {
  border-bottom: 1px dotted $color-mid-light;
  content: "";
  height: 0;
}

.p-show-more__button {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
