@import "~vanilla-framework/scss/settings";
@import "~vanilla-framework/scss/base_placeholders";
@import "~vanilla-framework/scss/base_icon-definitions";
@import "~vanilla-framework/scss/patterns_icons";

@include vf-b-placeholders;
@include vf-p-icons-common;

.p-icon--custom {
  @extend %icon;

  background-image: url(#{$assets-path}a4d31b28-icon-quote.svg);
}
