@import "~vanilla-framework/scss/base_placeholders";
@import "~vanilla-framework/scss/base_button";

@include vf-b-placeholders;

.p-chip {
  @extend %small-text;

  background-color: rgba($color-x-dark, 0.05);
  border: 1px solid transparent;
  border-radius: 1rem;
  box-sizing: border-box;
  display: inline-flex;
  margin-bottom: 0;
  margin-right: $sph-inner--small;
  padding: calc(0.15rem - 1px) $sph-inner map-get($nudges, nudge--small);
  user-select: none;
  white-space: nowrap;

  &:hover {
    background-color: rgba($color-x-dark, 0.08);
  }

  &[aria-pressed="true"] {
    background-color: rgba($color-x-dark, 0.2);

    &:hover {
      background-color: rgba($color-x-dark, 0.23);
    }
  }

  &:active {
    background-color: rgba($color-x-dark, 0.2);
  }

  &__lead {
    white-space: pre;
  }

  .p-chip__dismiss {
    @include vf-button-pattern(
      $button-background-color: transparent,
      $button-border-color: transparent,
      $button-hover-background-color: transparent,
      $button-hover-border-color: transparent
    );

    height: 1rem;
    left: $sph-inner--small / 2;
    line-height: 1rem;
    margin-bottom: 0;
    padding: 0 $sp-xx-small;
    position: relative;
  }

  &:focus {
    background-color: #0080ff23;
    border-color: #2e96ff;
    outline: none;
  }
}
