@use "sass:map";
@import "vanilla-framework";
@include vf-b-placeholders;

.p-prefixed-input {
  @include vf-b-forms;

  &__flex-container {
    @extend %vf-input-elements;
    align-items: center;
    display: flex;

    &:focus-within {
      outline: 0.1875rem solid var(--vf-focus-outline-color);
      outline-offset: -0.1875rem;
    }

    &.is-disabled {
      cursor: not-allowed;
      opacity: 0.33;
    }

    &.is-error {
      background-color: var(--vf-color-background-negative-default);
      border-bottom-color: var(--vf-color-border-negative);
    }

    &.is-success {
      background-color: var(--vf-color-background-positive-default);
      border-bottom-color: var(--vf-color-border-positive);
    }

    &.is-caution {
      background-color: var(--vf-color-background-caution-default);
      border-bottom-color: var(--vf-color-border-caution);
    }
  }

  &__prefix {
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
  }

  .p-form-validation {
    flex: 1;
  }

  // Reset the actual <input> rendered by the Input component
  .p-prefixed-input__input-field.p-form-validation__input {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    flex: 1;
    height: 100%;
    margin: 0 !important;
    min-width: 0;
    padding: 0 !important;

    &:focus {
      outline: none !important;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
