name: CI
on: [push]
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Install
        run: yarn
      - name: Percy Test
        uses: percy/storybook-action@v0.1.3
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
